<div class="row">
    <div class="col-md-2">Сссылка для парсинга:</div>
    <div class="col-md-4">
    <input type="text" name="url" style="width:300px" value="https://www.formula1.com/en/results.html/2017/races/970/belgium/race-result.html" readonly>
    </div>
    <div class="col-md-6"><button  type="button" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span></button></div>
</div>
     
<div class="row">
  <div class="col-md-12"><p class="header">Таблица для парсинга</p></div>
</div>
<div class="row">
    <div class="col-md-8"><p class="message" style="color:red;"></p></div>
    <div class="col-md-4"><input type="submit" value="Сохранить"  style="color:red"/></div>
</div>

@section scripts{
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">

    $(function () {
        var url = $('input[type="text"]').val();

         $('p.header').append('<table class="table table-striped"></table>');

         $.ajax({
               type: "Get",
               url: '@Url.Action("ParseTable", "Home")',
               data: {url:url},
               dataType: "html",
               success: function (data) {

                   console.log(data);

                   $('table.table.table-striped').html(data);

                   $('input[type="submit"]').prop('disabled', false);
               }
             });

        $('input[type="submit"]').prop('disabled', true);

        $('button.btn.btn-default').click(function (e) {

            e.preventDefault();
            console.log("parseHtml");

            $('table.table.table-striped').remove();

            $('p.header').append('<table class="table table-striped"></table>');

            $("p.message").remove();

             $.ajax({
               type: "Get",
               url: '@Url.Action("ParseTable", "Home")',
               data: {url:url},
               dataType: "html",
               success: function (data) {

                   console.log(data);

                   $('table.table.table-striped').html(data);

                   $('input[type="submit"]').prop('disabled', false);
               }
             });
        });

        $('input[type="submit"]').click(function (e) {
         e.preventDefault();
         console.log("submit");

         $("div.col-md-8").append('<p class=message></p>');

          $.ajax({
           type: "GET",
           url: '@Url.Action("SaveToDb", "Home")',
           data: {url:url},
           datatype: "html",
           success: function (data) {
               console.log(data);
               $("p.message").html(data);
               $('input[type="submit"]').prop('disabled', true);
            }
         });
     })
    })
</script>    
    }